/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    text-align: center;
}

h1{
    text-align: center;
    font-family: 'Akshar', sans-serif;
    text-decoration: underline;
    font-size: 45px;
    opacity: 150%;
    font-weight: bolder;
    color: white;
    padding: 0px;
}

h1:hover{
    font-size: 55px;
}

h2{
    text-align: center;
    font-family: 'Akshar', sans-serif;
    text-decoration: underline;
    font-size: 35px;
    color: white;
}

h2:hover{
    font-size: 45px;
}

h3{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

h4{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

body{
    background-image: url(../img/fondo1.jpg);
    background-attachment: fixed;
}

/* MENU */
.menu{
    padding: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
    position: relative;
}

.menu ul li:hover{
    font-weight: bold;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-decoration: underline;
    margin: 5px;
    
}

.menu ul li a:hover{
    font-size: 20px;
}

.subMenu{
    padding: none;
}

.menu ul ul{
    display: none;
    position: absolute;

}

.menu ul li:hover > ul{
    display: block;
    padding: 5px;
    background-color: transparent;
    color: black;
    background-color: rgba(92, 62, 2, 0.455);
}

.subMenu{
    background-color: rgb(255, 251, 238);
}

/* INDEX */
.info{
    text-align: center;
    margin: 5px;
    padding: 2px;
    opacity: 300%;
    color: white;
}

/* VIDEO QUIENES SOMOS*/
.video{
    display: flex;
    justify-content: center;
}

.video iframe{
    width: 480px;
    height: 300px;
}

/* FORMULARIO CONTACTO */
.formulario{
    padding: 10px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

.entrada{
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'Akshar', sans-serif;
}

.mapa{
    display: flex;
    justify-content: center;
}

/* IMAGENES TIENDA */
.tienda{
    height: auto;
    justify-content: center;
    align-self: center;
    display: grid;
    grid-template-areas: "imagen1"
                        "imagen2"
                        "imagen3"
                        "imagen4"
                        "imagen5"
                        "imagen6"
                        "imagen7"
                        "imagen8";
    row-gap: 2rem;
}

.imagen1{
    grid-area: imagen1;
}

.imagen2{
    grid-area: imagen2;
}

.imagen3{
    grid-area: imagen3;
}

.imagen4{
    grid-area: imagen4;
}

.imagen5{
    grid-area: imagen5;
}

.imagen6{
    grid-area: imagen6;
}

.imagen7{
    grid-area: imagen7;
}

.imagen8{
    grid-area: imagen8;
}

/* PREGUNTAS FRECUENTES */
.preguntero{
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    text-align: center;
}

dt{
    font-weight: bold;
}

@media screen and (min-width:720px) {
    .menu{
        display: block;
    }

    .video iframe{
        width: 720px;
        height: 400px;
    }

    .tienda{
        height: auto;
        grid-template-areas:"imagen1 imagen2"
                            "imagen3 imagen4"
                            "imagen5 imagen6"
                            "imagen7 imagen8";
        column-gap: 1rem;
    }
}

@media screen and (min-width:1280px) {
    .tienda{
        height: auto;
        grid-template-areas: "imagen1 imagen2 imagen3 imagen4"
                            "imagen5 imagen6 imagen7 imagen8";
    }
}

.piePagina ul li a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}

footer{
    text-align: center;
    color: white;
}